:root {
  --primary-color: #ff847c; /* Primary color - Salmon Red */
  --secondary-color: #fcbad3; /* Secondary color - Light Pink */
  --background-color: #f0f4f7; /* Background color - Light Blue-Gray */
  --text-color: #2c3e50; /* Text color - Dark gray for text */
  --selected-color: #45aaf2; /* Color for selected elements - Sky Blue */
}

button,
.logout-button {
  background-color: var(--primary-color); /* Updated button background color */
  color: #fff;
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 20px;
}

button:hover,
.logout-button:hover {
  background-color: var(--selected-color); /* Updated button hover color */
}

/* Additional styles for responsiveness */
@media (max-width: 600px) {
  .App {
    padding: 0px; /* Adjusted padding for smaller screens */
  }

  button,
  .logout-button {
    width: 100%;
    margin-bottom: 10px; /* Adjusted margin for smaller screens */
  }
}

.logout-button {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(
    --primary-color
  ); /* Updated logout button background color */
  color: #fff;
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.logout-button:hover {
  background-color: var(
    --selected-color
  ); /* Updated logout button hover color */
}
