/* App.css */

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: url("/src/img/bg.jpg") center center fixed;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.App {
  font-family: "Arial", sans-serif;
  text-align: center;
  padding: 0px;
  background-color: #eeffff; /* Updated light blue-gray background color */
}

button,
.logout-button {
  background-color: #45aaf2; /* Updated button background color */
  color: #fff;
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 20px;
}

button:hover,
.logout-button:hover {
  background-color: #9cfeff;
}

@media (max-width: 600px) {
  .App {
    padding: 0px;
  }

  button,
  .logout-button {
    width: 100%;
    margin-bottom: 10px;
  }
}

.logout-button {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #45aaf2;
  color: #fff;
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.logout-button:hover {
  background-color: #9cfeff;
}
